body {
    color: #87a0a6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c3b3b;
    line-height: 2;
    padding-left: 25px;
}

header {
    color: #87a0a6;
}

.bio {
    height: 200px;
    margin-right: 10px;
    padding: 15px;
    width: 100%;
    display: inline;
    text-align: left;
}

h1 {
    color: #c8a287;
    text-align: right;
    height: 100px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}